<html lang="en" ng-app="superhero" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home24 Frontend Challenge</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://simplelineicons.com/css/simple-line-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css">
  <link rel="stylesheet" href="app/app.css">
  <!--<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header class="header">
    <div class="container">
        <h1 class="title"><img src="https://cdn1.home24.net/static/skin/reboot/39c87c1/dist/img/non-localized/desktop/layout/logo/home24.svg" width="200" alt=""></h1>
        <h3 class="subtitle"> Frontend Challenge App</h3>
    </div>
  </header>

  <div class="challenge" ng-controller="ArtistCtrl">
    <div class="container">
      
      <p class="paragraph">Single page apps for searching Artists and their respective events around world.</p>

      <form action="" class="search form-inline" ng-init="init()" ng-submit="search()">
        <input type="search"  ng-model="searchInput" class="form-control input-form"  placeholder="Search a name like: Diego">
        <button class="btn btn-primary" ng-click="search()" type="button"><i class="icon-magnifier"></i> Search </button>
        <button class="btn btn-danger" ng-click="clear()" type="button"><i class="icon-reload"></i> Clear History </button>
      </form>

      <hr>

      <ul class="artists no-padding">
          <li ng-repeat="artist in artists" class="artist">
              <figure class="figure">
                  <a href="{{artist.image_url}}" data-lightbox="group" data-title="Picture of {{artist.name}}">
                    <img src="{{artist.image_url}}" width="200" alt="" class="img-responsive">
                  </a>
      
                  <ul class="description">
                      <li class="name"><i class="icon-user"></i> <a href="{{artist.url}}" target="_blank">{{artist.name}}</a></li>
                      <li class="name"><i class="icon-social-facebook"></i> <a href="{{artist.facebook_page_url}}">View profile</a></li>
                  </ul>
              </figure>
              <div class="accordions">
                  <div class="alert alert-info" ng-hide="artists.events.length">
                      <strong>Info!</strong> There's no event registered to {{artist.name}}
                  </div>
      
                  <div class="accordion" ng-repeat="event in artists.events">
                      <div class="blue"><span class="number">#{{$index + 1}}</span></div>
                      <div class="panelContent p{{$index + 1}}"><i class="icon-event"></i> Event {{$index + 1}} <strong> <br/>
                      <ul class="events">
                          <li><i class="icon-location-pin"></i> {{event.venue.name}}, {{event.venue.city}}</strong> - {{event.venue.country}} - {{event.venue.region}}</li>
                          <li><i class="icon-calendar"></i> {{event.datetime}}</li>
                      </ul>
      
                      <div class="actions">
      
                          <!-- Google Maps -->
                          <a href="https://www.google.com.br/maps/search/{{event.venue.name}} + {{event.venue.city}} + {{event.venue.region}}/@{{event.venue.latitude}},{{event.venue.longitude}},15z/data=!3m1!4b1?dcr=0" target="_blank" class="btn btn-info"><i class="icon-map"></i> Gogle Maps</a>
                          <!-- Ticket -->
                          <a href="{{offers.url}}" ng-hide="offers.length"  ng-repeat="offers in event.offers" target="_blank" title="Lineup's event with {{event.lineup}}" class="btn btn-warning"><i class="icon-link"></i> Buy Ticket</a>
                          
                      
                      </div>
                      </div>
                  </div>
              </div>
          </li>
      </ul>

      <!-- History -->

      <div class="history" ng-hide="!history.length">
          <h2>Your search history...</h2>
          <ul class="artists no-padding">
              <li ng-repeat="artist in history" class="artist">
                  <figure class="figure">
                      <img src="{{artist.image_url}}" width="200" alt="" class="img-responsive">
          
                      <ul class="description">
                          <li class="name"><i class="icon-user"></i> <a href="{{artist.url}}" target="_blank">{{artist.name}}</a></li>
                          <li class="name"><i class="icon-social-facebook"></i> <a href="{{artist.facebook_page_url}}">View profile</a></li>
                      </ul>
                  </figure>
                  <div class="accordions">
                      <div class="alert alert-success" ng-hide="artist.upcoming_event_count.length">
                          <strong>Info!</strong> You found {{artist.upcoming_event_count}} event(s) on this search! Why don't you try out again?
                      </div>
          
                      <div class="accordion" ng-repeat="event in artist.events">
                          <div class="blue"><span class="number">#{{$index + 1}}</span></div>
                          <div class="panelContent p{{$index + 1}}"><i class="icon-event"></i> Event {{$index + 1}} <strong> <br/>
                          <ul class="events">
                              <li><i class="icon-location-pin"></i> {{event.venue.name}}, {{event.venue.city}}</strong> - {{event.venue.country}} - {{event.venue.region}}</li>
                              <li><i class="icon-calendar"></i> {{event.datetime}}</li>
                          </ul>
          
                          <div class="actions">
          
                              <!-- Google Maps -->
                              <a href="https://www.google.com.br/maps/search/{{event.venue.name}} + {{event.venue.city}} + {{event.venue.region}}/@{{event.venue.latitude}},{{event.venue.longitude}},15z/data=!3m1!4b1?dcr=0" target="_blank" class="btn btn-info"><i class="icon-map"></i> Gogle Maps</a>
                              <!-- Ticket -->
                              <a href="{{offers.url}}" ng-hide="offers.length"  ng-repeat="offers in event.offers" target="_blank" title="Lineup's event with {{event.lineup}}" class="btn btn-warning"><i class="icon-link"></i> Buy Ticket</a>
                              
                          
                          </div>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </div>

    </div>
  </div>

  <script src="assets/js/jquery-1.12.4.min.js"></script>
  <script src="assets/js/angular-core.min.js"></script>
  <script src="assets/js/angular-route.js"></script>
  <script src="assets/js/angular-cookie.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/lightbox.min.js"></script>
  <script src="app/app.js"></script>
  
  <script src="app/components/artist/Artist.controller.js"></script>
  <script src="app/components/artist/Artist.model.js"></script>
  <script src="assets/js/custom.js">
  
</script>
</body>
</html>
